<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="xxx" connectionString="Data Source=ddd;Initial Catalog=iii;User ID=zzz;Password=yyy" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime  />
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<appSettings>
	</appSettings>
	<system.serviceModel>

		<behaviors>
		  <endpointBehaviors>
		    <behavior name="MaleficentEndpointBehavior">
		      <dataContractSerializer maxItemsInObjectGraph="4665536" />
		    </behavior>
		  </endpointBehaviors>
		  <serviceBehaviors>
		    <behavior name="MaleficentServiceBehavior">
		      <serviceMetadata httpGetEnabled="true" />
		    </behavior>
		  </serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding1"></binding>
			</basicHttpBinding>
		</bindings>

		<services>
		  <service 
		  		behaviorConfiguration="MaleficentServiceBehavior" 
		  		name="Maleficent.Data.MaleficentService">
		    <endpoint 
		    		address="http://localhost/MaleficentWebServices/MaleficentService.svc"
		        	behaviorConfiguration="MaleficentEndpointBehavior" 
		        	binding="basicHttpBinding"
		        	bindingConfiguration="basicHttpBinding1" 
		        	contract="Maleficent.Messages.IMaleficentService" />
		  </service>
		</services>

	</system.serviceModel>
	<system.diagnostics>
  		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel" switchName="ErrorOnlySwitch" propagateActivity="true">
				<listeners>
					<add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Code\MaleficentServices\Maleficent.app\Logs\MaleficentWebServices.web.config.svclog" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Critical, Information, Verbose, Warning, Error" />
			<add name="ErrorOnlySwitch" value="Error" />
		</switches>
	</system.diagnostics>
</configuration>